* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #060822;
}

html {
  font-size: 62.5%;
}

/* .main-div {
  height: 100%;
}

.child_div {
  height: 100%;
} */

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 110px;
  height: 100px;
  margin-top: 50px;
}

figcaption {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
}

.addItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addItems input {
  width: 330px;
  height: 35px;
  background: #fff;
  color: black;
  margin-top: 12px;
  margin-bottom: 16px;
  padding-left: 8px;
  border: none;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}

.addItems .add-btn {
  position: absolute;
  font-size: 16px;
  margin-top: -3px;
  margin-left: 300px;
  background-color: transparent;
  color: #2980b9;
  cursor: pointer;
}

.showItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showItems .eachItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 330px;
  height: 37px;
  background: #3c40c6;
  color: #fff;
  /* margin-top: 27px; */
  margin-top: 6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  /* float: left; */
}

.showItems :hover {
  background-color: #fff;
}

.showItems .eachItem h3 {
  font-size: 14px;
  background-color: transparent;
  text-transform: capitalize;
}

.eachItem:hover h3 {
  color: black;
}

.showItems .eachItem .delete-btn {
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
}

.eachItem:hover .delete-btn {
  color: red;
}

.showItems .btn {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.showItems .btn.effect-04 {
  position: relative;
  width: 120px;
  height: 35px;
  background: #fff;
  color: black;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn.effect-04::after {
  content: attr(data-sm-link-text);
  position: absolute;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 9px;
  white-space: nowrap;
}

.btn span {
  display: inline-block;
  background-color: transparent;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.btn.effect-04:hover {
  background-color: #3c40c6;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.btn.effect-04:hover span {
  opacity: 0;
}

.btn.effect-04:hover::after {
  font-size: 12px;
  opacity: 1;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}
