* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #060822;
}

html {
  font-size: 62.5%;
}

/* .main-div {
  height: 100%;
}

.child_div {
  height: 100%;
} */

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 90px;
  height: 90px;
  margin-top: 50px;
}

figcaption {
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
}

.addItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addItems input {
  width: 330px;
  height: 30px;
  background: #fff;
  color: black;
  margin-top: 12px;
  padding-left: 8px;
  border: none;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
}

.addItems .add-btn {
  position: absolute;
  font-size: 12px;
  padding: 30px 20px 14px 320px;
  background-color: transparent;
  color: #2980b9;
  cursor: pointer;
}

.showItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showItems .eachItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 330px;
  height: 30px;
  background: #3c40c6;
  color: #fff;
  margin-top: 27px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.showItems .eachItem h3 {
  font-size: 10px;
  background-color: transparent;
  text-transform: capitalize;
}
.showItems .eachItem .delete-btn {
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
}

.showItems .btn {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.showItems .btn.effect-04 {
  width: 100px;
  height: 30px;
  background: #fff;
  color: black;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 1px;
}

.btn span {
  display: inline-block;
  background-color: transparent;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.btn::after {
  content: attr(data-sm-link-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: transform 0.3s ease;
  white-space: nowrap;
  pointer-events: none;
}

.btn.effect-04:hover span {
  transform: scale(0);
}

.btn.effect-04:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

/* .showItems .btn:hover {
  background-color: #3c40c6;
} */
