* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #060822;
}

html {
  font-size: 62.5%;
}

/* .main-div {
  min-height: 100vh;
  background: #060822;
  display: flex;
  justify-content: center;
} */

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 100px;
  height: 110px;
  margin-top: 80px;
}

figcaption {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
}

.addItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addItems input {
  width: 330px;
  height: 35px;
  background: #fff;
  color: black;
  margin-top: 14px;
  padding-left: 8px;
  border: none;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
}

.addItems .add-btn {
  position: absolute;
  font-size: 18px;
  padding: 30px 20px 14px 320px;
  background-color: transparent;
  color: #2980b9;
  cursor: pointer;
}

.showItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showItems .eachItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 330px;
  height: 35px;
  background: #3c40c6;
  color: #fff;
  margin-top: 27px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.showItems .eachItem h3 {
  font-size: 12px;
  background-color: transparent;
  text-transform: capitalize;
}
.showItems .eachItem .delete-btn {
  font-size: 18px;
  background-color: transparent;
}
